# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# 'body':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
'atom-text-editor.vim-mode:not(.insert-mode)':
  'ctrl-l': 'window:focus-pane-on-right'
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-j': 'window:focus-pane-below'
  'ctrl-k': 'window:focus-pane-above'

'.select-list.fuzzy-finder .editor':
  'ctrl-j': 'core:move-down'
  'ctrl-k': 'core:move-up'

'.preview-pane.pane-item':
  'ctrl-j': 'core:move-down'
  'ctrl-k': 'core:move-up'
